@using ReunionIsland.Web.Controllers
@model ReunionIsland.Model.ContactViewModel

<div id="ContactForm">
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = "frmContact" }))
    { 
        <div class="form-group row">
            <div class="col-md-12">
                @Html.EditorFor(model => model.ContactName, new {htmlAttributes = new {@class = "col-md-8 form-control", style = "min-width: 100%", placeholder = "Contact Name" } })
                @Html.ValidationMessageFor(model => model.ContactName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.EditorFor(model => model.ContactEmail, new {htmlAttributes = new {@class = "col-md-8 form-control", style = "min-width: 100%", placeholder = "Contact eMail"}})
                @Html.ValidationMessageFor(model => model.ContactEmail, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.ContactPhoneNumber, new { htmlAttributes = new { @class = "col-md-8 form-control", style = "min-width: 100%", placeholder = "Contact Phone Number" } })
                @Html.ValidationMessageFor(model => model.ContactPhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
               @Html.TextAreaFor(model => model.ContactDescription, new { @class = "form-control", style = "min-width: 100%", rows = "5", maxlength = "1000", placeholder = "Describe your project" })
                @Html.ValidationMessageFor(model => model.ContactDescription, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="pull-right">
            <button type="submit" id="submitContact" class="btn btn-primary">Submit</button>
        </div>
    }
</div>